// Colors
$backgroundColorDark: #111111;
$backgroundColor: #222222;
$backgroundColorLight: #444444;
$textColor: #eeeeee;
$primaryColor: #ffff00;
$secondaryColor: #d99c00;

// Spacing
$spacingSmall: 8px;
$spacingMedium: 16px;
$spacingLarge: 24px;

$maxContentWidth: 800px;

// This object gets passed *directly* as the terminal theme, so the keys match
// https://xtermjs.org/docs/api/terminal/interfaces/itheme/
:export {
  background: $backgroundColorDark;
}
