name: Lint & Test

on:
  push:
    branches:
      - master
      - release
  # Run master pipeline every day at midnight
  schedule:
    - cron: "0 0 * * *"
  pull_request:

jobs:
  # This uses the toolchain defined in rust-toolchain, NOT what's defined above
  fmt:
    name: "Rustfmt"
    runs-on: ubuntu-latest
    env:
      # Rustfmt requires a nightly toolchain because we use unstable rules. The
      # chosen version is fairly arbitrary
      TOOLCHAIN: nightly-2025-02-25
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{env.TOOLCHAIN}}
          components: rustfmt
          cache: true

      - name: Rustfmt Check
        run: cargo fmt -- --check

  # Run clippy and tests for all targets
  lint-test:
    name: "Lint & Test"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          # Don't bother testing all targets because linting should only be
          # different for wasm vs non-wasm
          - x86_64-unknown-linux-gnu
          - wasm32-unknown-unknown
    env:
      CARGO_BUILD_TARGET: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v4

      - name: Cache Rust files
        uses: swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}

      - name: Install toolchain
        run: rustup target add ${{ matrix.target }}

      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D clippy::all

      - name: Tests
        uses: actions-rs/cargo@v1
        # Tests don't work on wasm
        if: ${{ matrix.target != 'wasm32-unknown-unknown' }}
        with:
          command: test
