name: Build and Deploy Website

on:
  # Run on every PR and master just so we know the build didn't break
  push:
    branches:
      - master
      - release
  pull_request:

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Rust files
        uses: swatinem/rust-cache@v2

      - name: Cache npm files
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('website/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        working-directory: website
        run: npm install

      - name: Build
        working-directory: website
        run: npm run build

      - name: Archive build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: website/dist

  # Deploy only on release
  deploy:
    name: "Deploy"
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/release' }}
    needs:
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download build artifact
        id: download
        uses: actions/download-artifact@v2
        with:
          name: build
          path: website/dist

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: ${{ steps.download.outputs.download-path }}
