name: Build and Deploy Website

on:
  # Run on every PR just so we know the build didn't break
  pull_request:

  # Run on release
  push:
    tags:
      - "**[0-9]+.[0-9]+.[0-9]+*"

  # Run manually
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Mise Install
        uses: jdx/mise-action@v3
        with:
          working_directory: website

      - name: Cache Rust files
        uses: swatinem/rust-cache@v2

      - name: Cache npm files
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('website/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install npm dependencies
        working-directory: website
        run: mise run install

      - name: Build
        working-directory: website
        run: mise run build

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        # Deploy only on master or push event (tag releases). For tag pushes,
        # the ref isn't set to master event though the tag is always on the
        # master branch
        if: ${{ github.ref == 'refs/heads/master' || github.event_name == 'push' }}
        with:
          branch: gh-pages
          # Gotta tell the action where to find mdbook's output
          folder: website/dist
          token: ${{ secrets.GITHUB_TOKEN }}
          single-commit: true
